body {
    margin: 0;
    padding: 0;
    font-size: 24px;

}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 1120px;
}

/* хедер */
.header {
    background: #ddf9ff;
    padding: 34px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img {
    width: 210px;

}

.header-list {
    display: flex;
    gap: 64px;
}

.header-link {
    font-weight: 700;
    color: #3a2e2e;
}

/* головна секція */
.hero {
    background: #ddf9ff;
}

.hero-container {
    display: flex;
    gap: 57px;
}

.span {
    font-weight: 600;
    color: #6278b4;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 103%;
    color: #3a2e2e;
    padding: 16px 0;
}

.hero-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 153%;
    color: #3a2e2e;
    padding-bottom: 32px;
}

.hero-button {
    font-weight: 900;
    font-size: 20px;
    line-height: 153%;
    color: #fff;
    background-color: #6278b4;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 15px 22px;
}

/* друга секція */

.services {
    background: #fbfcff;
    padding-top: 24px;
}

.services-title {
    font-weight: 600;
    font-size: 48px;
    color: #3a2e2e;
    text-align: center;
    border-bottom: 4px solid #6278b4;
    width: 351px;
    margin: 0 auto 50px;
    padding-bottom: 18px;
}

.services-list {
    display: flex;
    gap: 85px;
    padding-bottom: 57px;
}

.services-item {
    display: flex;
    flex: 1;

}

.services-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 153%;
    color: #3a2e2e;
}

.services-img {
    width: 49px;
    height: 49px;
    margin-right: 12px;
}

.services-caption {
    font-weight: 400;
    line-height: 153%;
    color: #3a2e2e;
    padding-bottom: 25px;
}

/* footer */
.footer {
    background: #535353;
    padding-top: 32px;
    padding-bottom: 90px;
}

.footer-wrap {
    border-bottom: 2px solid #6278b4;
    width: 1120px;
}

.footer-title {
    padding-top: 32px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 32px;
    text-transform: uppercase;
}
.footer-list{
    display: flex;
    justify-content: space-between;
}
.footer-item{
display: flex;
align-items: center;
}
.footer-img{
    padding-right: 22px;
}
.footer-link{
    font-weight: 400;
font-size: 20px;
color: #fff;
}
.footer-logo-img{
    padding-bottom: 30px;
}